<div class="container page">
    <header class="header bg-light border-bottom mb-2">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="title  pt-2 pl-2">{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0)" routerLink="/payment-page" routerLinkActive="active">Payment</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="content p-3">
        <!-- The routed views render in the <router-outlet>-->
        <router-outlet></router-outlet>
    </section>
    <footer class="footer bg-light border-top p-3 mt-2">
        <div class="row">
            <div class="col-sm-12 text-center">
                Version 1.0
            </div>
        </div>
    </footer>
</div>